apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "password"
        - name: MYSQL_DATABASE
          value: "company_db"
        ports:
        - containerPort: 3306
        # --- ADDED THIS SECTION ---
        volumeMounts:
        - name: mysql-initdb
          mountPath: /docker-entrypoint-initdb.d/
      volumes:
      - name: mysql-initdb
        configMap:
          name: mysql-init-script
      # ---------------------------
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306