apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
spec:
  storageClassName: microk8s-hostpath # Uses the MicroK8s storage addon
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi