name: SAST with CodeQL

permissions:
  contents: read
  security-events: write   # Required for CodeQL to upload results

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup workspace
        run: |
          docker system prune -f || true
          rm -rf *

  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout infra repo
        uses: actions/checkout@v4
        with:
          path: infra

      - name: Checkout frontend repo
        uses: actions/checkout@v4
        with:
          repository: ishan-j/INCOPS_Frontend

          path: frontend

      - name: Checkout backend repo
        uses: actions/checkout@v4
        with:
          repository: ishan-j/INCOPS_Backend
          path: backend

  codeql:
    runs-on: ubuntu-latest
    needs: checkout
    permissions:
      security-events: write
    steps:
      - name: Checkout frontend
        uses: actions/checkout@v4
        with:
          repository: ishan-j/INCOPS_Frontend

      - name: Checkout backend
        uses: actions/checkout@v4
        with:
          repository: ishan-j/INCOPS_Backend
          path: backend

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript

      - name: Autobuild
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3